@model Marquesita.Infrastructure.ViewModels.Dashboards.Users.UserViewModel
@{
    ViewData["Title"] = "Nuevo Colaborador";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Ingreso de colaborador</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Usuarios</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Datos de colaborador</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <form asp-controller="User" asp-action="Create" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-4 col-lg-3">
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4 col-lg-3">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4 col-lg-3">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4 col-lg-3">
                                    <label asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label asp-for="DateOfBirth"></label>
                                    <input asp-for="DateOfBirth" type="date" class="form-control datetimepicker-input" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProfileImage" class="control-label">Foto de colaborador </label>
                                <input asp-for="ProfileImage" id="fichero" accept="image/*" class="form-control-file btn btn-file">
                                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                                <p id="texto"> </p>
                                <img id="img" width="150" height="150" />
                            </div>
                            <div class="form-group">
                                <label for="Role">Cargo</label>
                                <select name="Role" id="Role" class="form-control">
                                    <option disabled selected>Seleccionar</option>
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        <option value="@role">@role</option>
                                    }
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                            <a class="btn btn-danger" asp-controller="User" asp-action="Index" title="Regresar"><i class="fas fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-primary" title="Registrar"><i class="fas fa-save"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>