@model Marquesita.Infrastructure.ViewModels.Dashboards.ResetEmployeePassword
@{
    ViewData["Title"] = "Cambia tu contraseña";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Cambio de contraseña</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Profile">Perfil</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Ingrese nueva contraseña</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <form asp-controller="User" asp-action="ResetPassword" method="post">
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="Email" class="form-control" />
                                <input type="hidden" asp-for="Token" class="form-control" />
                            </div>
                            <a class="btn btn-danger" asp-controller="User" asp-action="Profile" title="Regresar"><i class="fas fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-warning" title="Cambiar"><i class="fas fa-sync-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        UserActiveLink();
    });
</script>