<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
</aside>

<!-- Pie de pagina -->
<footer class="main-footer">
    <strong>&copy; 2020 - Los Alpes | Todos los derechos reservados</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.5
    </div>
</footer>