@model Marquesita.Models.Business.Categories

@{
    ViewData["Title"] = "Editar Categoría";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Editar categoría</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Category" asp-action="Index">Categorías</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Cateogría @Model.Name</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <form asp-controller="Category" asp-action="Edit" method="post">
                            <div class="form-group">
                                <label asp-for="Name">Nombre</label>
                                <input asp-for="Name" class="form-control" onkeypress="return validarLetras(event)" />
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <a class="btn btn-danger" asp-controller="Category" asp-action="Index" title="Regresar"><i class="fas fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-primary" title="Actualizar"><i class="fas fa-sync-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

