@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Lista de Categorias";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Lista de categorías</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Category" asp-action="Index">Categorías</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            @if ((await AuthorizationService.AuthorizeAsync(User, "CanAddCategory")).Succeeded)
            {
                <div class="fa-pull-right">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary btn-block" title="Nueva Categoría"><i class="fas fa-plus-square"></i></a>
                </div>
                <br /><br />
            }
            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditCategory")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "CanDeleteCategory")).Succeeded)
                        {
                            <th class="text-center">Opciones</th>
                        }
                        else
                        {
                            <th> </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in Model)
                    {
                        <tr>
                            <td class="text-center">@categoria.Name</td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditCategory")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "CanDeleteCategory")).Succeeded)
                            {
                                <td class="text-center">
                                    <div class="form-row justify-content-center">
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditCategory")).Succeeded)
                                        {
                                            <span>&nbsp</span><a asp-controller="Category" asp-action="Edit" asp-route-Id="@categoria.Id" class="btn btn-warning" title="Editar"><i class="fas fa-edit"></i></a><span>&nbsp</span>
                                        }
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanDeleteCategory")).Succeeded)
                                        {
                                            <div id="DeleteCategoryClic_@categoria.Id" class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" data-id="@categoria.Id" onclick="deleteCategory(this)">
                                                <button type="submit" class="btn btn-danger" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        }
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        dataTableScript();
        CategoryActiveLink();
    });
</script>

