@model Marquesita.Infrastructure.ViewModels.Dashboards.Roles.RoleViewModel

@{
    ViewData["Title"] = "Nuevo Rol";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Ingreso de nuevo Rol</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Role" asp-action="Index">Roles</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Datos de rol</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <form action="/Role/Create" method="post">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="Nombre de Rol" onkeypress="return validarLetras(event)" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Permissions"></label>
                                <div class="select2-blue">
                                    <select asp-for="Permissions" class="select2" multiple="multiple" data-placeholder="Seleccione un rol" data-dropdown-css-class="select2-blue" style="width: 100%;">
                                        @foreach (var permission in ViewBag.Permissions)
                                        {
                                            <option value="@permission">@permission</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="Permissions" class="text-danger"></span>
                            </div>
                            <a class="btn btn-danger" asp-controller="Role" asp-action="Index" title="Regresar"><i class="fas fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-primary" title="Registrar"><i class="fas fa-save"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.select2').select2()
    });
</script>
