@{
    ViewData["Title"] = "Sobre Nosotros";
}
<div class="page-head_agile_info_w3l">

</div>

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-controller="Home" asp-action="Index">Inicio</a>
                    <i>|</i>
                </li>
                <li>Sobre Nosotros</li>
            </ul>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container">
        <h3 class="tittle-w3l">
            Nuestra Historia
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="w3l-welcome-text">
            <p>
                La empresa inició operaciones en 1975, teniendo como único dueño al señor. Arno Ackermann y como colaboradores a su familia. Después del fallecimiento del señor Arno Ackermann, 
                quedo como dueña su esposa Rosa Zambrano de Ackermann, el fundo lo Alpes queda ubicado en Carretera Moyocoha -Tres Molinos KM.3 y su tienda se ubica en el Jr. Junín Nro. 965 (Barrio San Pedro).
            </p>
            <p>
                La empresa se dedica a la elaboración y  comercio de productos lácteos. Participando en las diferentes actividades programadas
                por las diversas Instituciones, como SOLUCIONES PRÁCTICAS ITDG, CODELAC, CEDEPAS NORTE, ASOCIACIÓN DE PRODUCTORES DERIVADOS LÁCTEOS (APDL).
                Ofreciendo los mejores productos lácteos de la región, como:<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Mantequilla<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Yogurt<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Manjar Blanco<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Roscas<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Queso Mantecoso<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Queso Suizo<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Queso Maduro<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Galleta de leche<br />
            </p>
        </div>
        <br />
        <div class="w3l-welcome-info">
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Images/StanQuesos.jpg" class="img-responsive zoom-img" alt="Stan de quesos">
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Images/Porongos.jpg" class="img-responsive zoom-img" alt="Porongos">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        AboutActiveLink();
    });
</script>
