@{
    ViewData["Title"] = "Contactanos";
}

<div class="page-head_agile_info_w3l">
</div>

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-controller="Home" asp-action="Index">Inicio</a>
                    <i>|</i>
                </li>
                <li>Contactanos</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-w3l">
    <div class="container">
        <h3 class="tittle-w3l">
            Formulario de contacto
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <form action="#" method="post">
                        <div class="">
                            <input type="text" name="name" placeholder="Name" required="">
                        </div>
                        <div class="">
                            <input class="text" type="text" name="subject" placeholder="Subject" required="">
                        </div>
                        <div class="">
                            <input class="email" type="email" name="email" placeholder="Email" required="">
                        </div>
                        <div class="">
                            <textarea placeholder="Message" name="message" required=""></textarea>
                        </div>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <div class="contact-right wthree">
                    <div class="col-xs-6 contact-text w3-agileits">
                        <h4>Contactate con nosotros :</h4>
                        <p>
                            <i class="fa fa-map-marker"></i>  Jr. Los juncos #102 Pueblo Joven María Parada de Bellido
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> Telefono : (076)280877
                        </p>
                        <p>
                            <i class="fa fa-mobile"></i> RPM : #976698266
                        </p>                        
                        <p>
                            <i class="fa fa-mobile"></i> RPC : 986161463
                        </p>
                        <p>
                            <i class="fa fa-envelope-o"></i> Email :
                            <a href="mailto:ventas.lamarquesita@gmail.com"> ventas.lamarquesita@gmail.com</a>
                        </p>
                    </div>
                    <div class="col-xs-6 contact-agile">
                        <img src="~/EcommerceTemplate/images/contact2.jpg" alt="">
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map w3layouts">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d247.42351736028593!2d-78.5154187!3d-7.1518467!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1601855359777!5m2!1ses!2spe"
            allowfullscreen ></iframe>
</div>
