@{
    ViewData["Title"] = "Contactanos";
}

<div class="page-head_agile_info_w3l">
</div>

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-controller="Home" asp-action="Index">Inicio</a>
                    <i>|</i>
                </li>
                <li>Contactanos</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-w3l">
    <div class="container">
        <h3 class="tittle-w3l">
            Formulario de contacto
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <form action="#" method="post">
                        <div class="">
                            <input type="text" name="name" placeholder="Name" required="">
                        </div>
                        <div class="">
                            <input class="text" type="text" name="subject" placeholder="Subject" required="">
                        </div>
                        <div class="">
                            <input class="email" type="email" name="email" placeholder="Email" required="">
                        </div>
                        <div class="">
                            <textarea placeholder="Message" name="message" required=""></textarea>
                        </div>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <div class="contact-right wthree">
                    <div class="col-xs-6 contact-text w3-agileits">
                        <h4>Contactate con nosotros :</h4>
                        <p>
                            <i class="fa fa-map-marker"></i>  Jr. Junín Nro. 965 (Barrio San Pedro)
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> Telefono : (076)362287
                        </p>
                        <p>
                            <i class="fa fa-mobile"></i> Celular : 941342093
                        </p>                        
                        <p>
                            <i class="fa fa-envelope-o"></i> Email :
                            <a href="mailto:losalpes.cajamarca@gmail.com"> losalpes.cajamarca@gmail.com</a>
                        </p>
                    </div>
                    <div class="col-xs-6 contact-agile">
                        <img src="~/Images/Contactanos.jpg" alt="Contactanos">
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map w3layouts">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d494.84056810824006!2d-78.51948474753125!3d-7.157811405471164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b25bdc420c44a7%3A0x674f26236e2d3742!2sL%C3%A1cteos%20Los%20Alpes!5e0!3m2!1ses!2spe!4v1640017668281!5m2!1ses!2spe"
            allowfullscreen ></iframe>
</div>
<script>
    $(document).ready(function () {
        ContactActiveLink();
    });
</script>