@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>
                        Quesos
                    </h3>
                    <p>
                        Los mejores de <span>Cajamarca</span>
                    </p>
                    <a class="button2" asp-controller="Product" asp-action="Index">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>
                        Manjarblanco
                    </h3>
                    <p>
                        El mejor de <span>Cajamarca</span>
                    </p>
                    <a class="button2" asp-controller="Product" asp-action="Index">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3>
                        Rosquitas
                    </h3>
                    <p>
                        Perfectas para una compartir
                    </p>
                    <a class="button2" asp-controller="Product" asp-action="Index">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3>
                        Queso Suizo
                    </h3>
                    <p>
                        esquisito por el sabor
                    </p>
                    <a class="button2" asp-controller="Product" asp-action="Index">Comprar ahora</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="ads-grid">
    <div class="container">
        <h3 class="tittle-w3l">
            Top Productos
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="side-bar col-md-3">
            <div class="search-hotel">
                <h3 class="agileits-sear-head">Busca aquí..</h3>
                <form action="#" method="post">
                    <input type="search" placeholder="Nombre del producto" name="search">
                </form>
            </div>
            <div class="deal-leftmk left-side">
                <h3 class="agileits-sear-head">Categorias</h3>
                <ul>
                    <li>
                        <a asp-controller="Product" asp-action="Index"><span class="span"><i class="fas fa-dot-circle"></i> Todos los productos</span></a>
                    </li>
                    @foreach (var category in ViewBag.Categorys)
                    {
                        <li>
                            <a asp-controller="Category" asp-action="Detail" asp-route-categoryId="@category.Id"><span class="span"><i class="fas fa-dot-circle"></i> @category.Name</span></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="agileinfo-ads-display col-md-9" id="ProducListTake10">         
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        HomeIndexActiveLink();
        getProductPanelListTake10();
    });
</script>

