@model Marquesita.Infrastructure.ViewModels.Ecommerce.Clients.ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer Constraseña";
}


<div class="contact-w3l">
    <div class="container">
        <h3 class="tittle-w3l">
            Restablecer Contraseña
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <div class="modal-body modal-body-sub_agile">

                        <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="Home" asp-action="ResetPassword">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="Email" class="form-control" />
                                <input type="hidden" asp-for="Token" class="form-control" />
                                <div class="form-group">
                                    <input type="submit" value="Cambiar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>