
@{
    ViewData["Title"] = "Constraseña Restablecida";
}


<div class="contact-w3l">
    <div class="container">
        <h3 class="tittle-w3l">
            Listo!
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <div class="modal-body modal-body-sub_agile">

                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Eo_circle_orange_white_checkmark.svg" style="width:30%" class="img-responsive center-block">
                        <br />
                        <div class="modal_body_left modal_body_left1">
                            <h2 class="text-center">

                                Tu contraseña ha sido restablecida. Haga  <a asp-controller="Home" asp-action="Login">clic aquí para iniciar sesión.</a>
                            </h2>


                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

