<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Marquesita Dashboards</title>

    <!-- HeaderContent -->
    @await Component.InvokeAsync("LoginHeader")
    @RenderSection("Scripts", required: false)
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @RenderBody()
    </div>
</body>
</html>
