<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewData["Title"] - La Marquesita</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="La Marquesita, Quesos, Cheese" />
    <meta name="google-site-verification" content="yLkQJo53-iARJpDBltvA7U53kVbfUaDWfLzd_1svfd4" />

    @await Component.InvokeAsync("EcommerceHeader")
</head>

<body>
    @await Component.InvokeAsync("EcommerceNavbarAccountInfo")

    @RenderBody()

    @await Component.InvokeAsync("EcommerceFooter")
    @RenderSection("Scripts", required: false)
</body>
</html>

