@model Marquesita.Infrastructure.ViewModels.Ecommerce.Clients.ClientEditViewModel
@{
    ViewData["Title"] = "Editar Perfil";
}

<div class="contact-w3l">
    <div class="container">
        <h3 class="tittle-w3l">
            Editar mi Perfil
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>

        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <div class="modal-body modal-body-sub_agile">
                        <div class="main-mailposi">
                            <span class="fa fa-address-card-o" aria-hidden="true"></span>
                        </div>
                        <div class="content">
                            <h1 class="profile-username text-center">@Model.FirstName @Model.LastName</h1>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <form role="form" asp-controller="Client" asp-action="Edit" method="post" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-5 text-center">
                                                @if (Model.ImageRoute != null)
                                                {
                                                    <img src="@ViewBag.Image@Model.ImageRoute"
                                                         class="profile-user-img img-fluid img-circle" id="img" style="height: 150px"
                                                         asp-append-version="true" />
                                                }
                                                else
                                                {
                                                    <img src="~/EcommerceTemplate/images/User_icon.png" id="img" style="height: 150px" class="profile-user-img img-fluid img-circle" alt="User profile picture">
                                                    <label for="exampleFormControlFile1"></label>
                                                }
                                                <input asp-for="ProfileImage" id="fichero" accept="image/*" class="form-control-file btn btn-file" value="Cambiar">
                                                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                                                <p id="texto"> </p>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-7 pull-right">
                                                <label asp-for="FirstName"></label>
                                                <input asp-for="FirstName" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-7 pull-right">
                                                <label asp-for="LastName"></label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-7 pull-right">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-7 pull-right">
                                                <label asp-for="Phone"></label>
                                                <input asp-for="Phone" class="form-control" />
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-7 pull-right">
                                                <label asp-for="DateOfBirth"></label>
                                                <input asp-for="DateOfBirth" type="date" class="form-control datetimepicker-input" />
                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-md-7 pull-right">
                                                <button type="submit" class="btn btn-warning pull-right" title="Actualizar">Guardar Cambios</button><span class="pull-right">&nbsp</span>
                                                <span class="pull-right">&nbsp</span><a class="btn btn-danger pull-right" asp-controller="Client" asp-action="MyProfile" title="Regresar">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
