@model Marquesita.Infrastructure.ViewModels.Dashboards.LoginViewModel
@{
    ViewData["Title"] = "Log In";
    Layout = "_LoginLayout";

}


<div class="w3top-nav">
    <div class="w3top-nav-left">
        <h1><a asp-controller="Auth" asp-action="SignIn"><img src="~/template/images/logo3-1.png" /></a></h1>
    </div>
</div>

<div class="header-main">
    <h2>Iniciar Sesión</h2>
    <div class="header-bottom">
        <div class="header-right w3agile">
            <div class="header-left-bottom agileinfo">

                

                @if (!ViewData.ModelState.IsValid)
                {
            <div asp-validation-summary="All" class="alert alert-danger"></div>
                }

                <form asp-controller="Auth" asp-action="SignIn" method="post">
                    <div class="icon1">
                        @*<label><i class="fas fa-user"></i> Usuario </label>*@
                        <input type="text" asp-for="Username" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="icon1">
                        @*<label><i class="fas fa-lock"></i> Contraseña</label>*@
                        <input type="password" asp-for="Password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <input type="hidden" name="returnUrl" value="@Url.ActionContext.HttpContext.Request.Query["ReturnUrl"]" />
                    <div class="bottom">
                        <input type="submit" class="btn btn-primary btn-block" value="Iniciar Sesión">
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
            

