@model Marquesita.Infrastructure.ViewModels.Dashboards.LoginViewModel
@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_LoginLayout";
}
<div class="w3top-nav">
    <div class="w3top-nav-left">
        <h1><img src="~/template/images/logo3-1.png" /></h1>
    </div>
</div>

<div class="header-main">
    <h2>Iniciar Sesión</h2>
    <div class="header-bottom">
        <div class="header-right w3agile">
            <div class="header-left-bottom agileinfo">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="All" class="alert alert-danger-login">
                        <label type="button" class="close" data-dismiss="alert" aria-label="Close" >
                            <span aria-hidden="true" style="font-size:20pt">&times;</span>
                        </label>
                    </div>
                }

                <form asp-controller="Auth" asp-action="SignIn" method="post">
                    <div class="icon1">
                        
                        <input type="text" asp-for="Username" autocomplete="off" class="form-control" placeholder="Usuario">
                    </div>
                    <div class="icon1">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Contraseña">
                    </div>
                    <input type="hidden" name="returnUrl" value="@Url.ActionContext.HttpContext.Request.Query["ReturnUrl"]" />
                    <div class="bottom">
                        <input type="submit" class="btn btn-primary btn-block" value="Iniciar Sesión">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


