@{
    ViewData["Title"] = "Mis Pedidos";
}

<div class="privacy">
    <div class="container">
        <h3 class="tittle-w3l">
            Mis Ordenes
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="checkout-right">
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Destinatario</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rem1">
                            <td class="invert">1</td>
                            <td class="invert">Nombree</td>
                            <td class="invert">02/03/2020</td>
                            <td class="invert">$888.00</td>
                            <td class="invert">
                                <div class="rem">
                                    <button class="w3view-cart" type="submit" name="submit" value="">
                                        <i style="height:35px" class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="rem2">
                            <td class="invert">2</td>
                            <td class="invert">Nombree</td>
                            <td class="invert">02/03/2020</td>
                            <td class="invert">$888.00</td>
                            <td class="invert">
                                <div class="rem">
                                    <button class="w3view-cart" type="submit" name="submit" value="">
                                        <i style="height:35px" class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="rem3">
                            <td class="invert">3</td>
                            <td class="invert">Nombree</td>
                            <td class="invert">02/03/2020</td>
                            <td class="invert">$888.00</td>
                            <td class="invert">
                                <div class="rem">
                                    <button class="w3view-cart" type="submit" name="submit" value="">
                                        <i style="height:35px" class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

