
@{
    ViewData["Title"] = "Carrito de Compras";
}

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <i>|</i>
                </li>
                <li>Carrito</li>
            </ul>
        </div>
    </div>
</div>

<div class="privacy">
    <div class="container">
        <h3 class="tittle-w3l">
            Carrito
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div id="shoppingCartList">

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getshoppingCartList();
    });
</script>
