
@{
    ViewData["Title"] = "Carrito de Compras";
}

<div class="privacy">
    <div class="container">
        <h3 class="tittle-w3l">
            Carrito
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div id="shoppingCartList">

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getshoppingCartList();
    });
</script>
