@model Marquesita.Models.Identity.User

<div class="footer-top">
    <div class="container-fluid">
        <div class="col-xs-12 agile-leftmk">
            <h2>¿Qué es el queso?</h2>
            <p>
                <span>"Los Alpes"</span> te explica que el queso es un producto lácteo hecho a partir de sólidos lácteos. Muchos alimentos se hacen aún más deliciosos con queso derretido,
                como la pizza y los nachos. El queso se hace con la leche de vacas, cabras, ovejas, o búfalos, y se acidifica antes de que los sólidos se separen y se presen.
                Hay muchos tipos de queso, que van desde el queso cremoso suave y untable al parmesano duro.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="agile-sometext">
            <div class="sub-some child-momu">
                <h5>Metodos de Pago</h5>
                <ul>
                    <li>
                        <img src="~/Images/Payments/bpc.png" />
                    </li>
                    <li>
                        <img src="~/Images/Payments/interbank.png" />
                    </li>
                    <li>
                        <img src="~/Images/Payments/scotiabank.png" />
                    </li>
                    <li>
                        <img src="~/Images/Payments/logo-banco-nacion.png" />
                    </li>
                    <li>
                        <img src="~/Images/Payments/yapeIcon.png" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-info w3-agileits-info">
            <div class="col-sm-8 address-right">
                <div class="col-xs-5 footer-grids">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="About">Sobre Nosotros</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Contact">Contactanos</a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Index">Nuestros Productos</a>
                        </li>
                        @if (Model.Id == null)
                        {
                            <li>
                                <a asp-controller="Home" asp-action="Register">Registrate</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ForgotPassword">Olvide mi contraseña</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-xs-7 footer-grids">
                    <h3>Contactanos</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i> Jr. Junín Nro. 965 (Barrio San Pedro)
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i> 941342093
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:losalpes.cajamarca@gmail.com"> losalpes.cajamarca@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4 footer-grids  w3l-socialmk">
                <h3>Siguenos en</h3>
                <div class="social">
                    <ul>
                        <li>
                            <a class="icon fb" href="https://www.facebook.com/Productos-Los-Alpes-225200804653053">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>

<div class="copy-right">
    <div class="container">
        <p>
            &copy; 2020 Los Alpes. Todos los derechos reservados
        </p>
    </div>
</div>

<script>
    $(document).ready(function ($) {
        scrollConfig($);
        containersConfig();
    });
</script>

