
@{
    ViewData["Title"] = "Lista de Deseos";
}
<div class="privacy">
    <div class="container">
        <h3 class="tittle-w3l">
            Lista de Deseos
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div id="wishList">

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getWishList();
    });
</script>
