@model Marquesita.Models.Identity.User

<div class="header-most-top">
    <p>Bienvenido a La Marquesita los mejores precios y calidad</p>
</div>

<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">

        <div class="col-md-3 logo-align">
            <h1>
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/EcommerceTemplate/images/logo3.png" alt=" ">

                </a>
            </h1>
        </div>

        <div class="col-md-9 header">
            <ul>
                @if (Model.Id != null)
                {
                    <li class="pull-right">
                        <a asp-controller="Home" asp-action="LogOut">
                            <span class="fa fa-unlock-alt" aria-hidden="true"></span> Cerrar Sesión
                        </a>
                    </li>
                    <li class="pull-right">
                        <a asp-controller="Client" asp-action="MyProfile">
                            <span class="fa fa fa-user-o" aria-hidden="true"></span> Mi Perfil
                        </a>
                    </li>
                    <li class="pull-right">
                        <a asp-controller="Client" asp-action="MyOrders">
                            <span class="fa fa-check-square-o" aria-hidden="true"></span> Mis Pedidos
                        </a>

                    </li>
                    <li class="pull-right">
                        <a asp-controller="WishList" asp-action="Index">
                            <span class="fa fa-star" aria-hidden="true"></span> Mi Lista de Deseos
                        </a>

                    </li>
                    <li class="pull-right">
                        <span aria-hidden="true"></span> Bienvenido @Model.FirstName
                    </li>
                }
                else
                {
                    <li class="pull-right">
                        <a asp-controller="Home" asp-action="Login">
                            <span class="fa fa-unlock-alt" aria-hidden="true"></span> Iniciar Sesión
                        </a>
                    </li>
                    <li class="pull-right">
                        <a asp-controller="Home" asp-action="Register">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Registrarse
                        </a>
                    </li>
                    <li class="pull-right">
                        <span class="fa fa-phone" aria-hidden="true"></span> (076) 280877
                    </li>
                }
            </ul>
            <div class="row">
                <div class="col-12">
                    <div class="agileits_search">
                        <div class="form-row">
                            <div class="select2-red col-12 col-md-10">
                                <select id="selectedProductId" name="selectedProductId" class="form-control select2bs4" data-dropdown-css-class="select2-red" style="width: 100%;">
                                    <option>¿Que producto busca?</option>
                                    @foreach (var product in ViewBag.ProductList)
                                    {
                                        <option value="@product.Id">@product.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12">
                                <button type="button" onclick="searchProduct(event)" class="btn btn-default pull-left" aria-label="Left Align">
                                    <span class="fa fa-search" aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    @if (Model.Id != null)
                    {
                        <div class="col-12">
                            <div class="top_nav_right">
                                <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                                    <button class="w3view-cart" onclick="goToShoppingCart()"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li id="IndexLink">
                                <a class="nav-stylehead" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li id="AboutLink">
                                <a class="nav-stylehead" asp-controller="Home" asp-action="About">Sobre Nosotros</a>
                            </li>
                            <li id="ProductsLink">
                                <a class="nav-stylehead" asp-controller="Product" asp-action="Index">Productos</a>
                            </li>
                            <li id="ContactLink">
                                <a class="nav-stylehead" asp-controller="Home" asp-action="Contact">Contactanos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.select2bs4').select2();
    });
</script>

