@{
    ViewData["Title"] = "Productos";
}

<div class="page-head_agile_info_w3l">

</div>

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-controller="Product" asp-action="Index">Productos</a>
                    <i>|</i>
                </li>
                <li>Inicio</li>
            </ul>
        </div>
    </div>
</div>

<div class="ads-grid">
    <div class="container">
        <h3 class="tittle-w3l">
            Productos
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="side-bar col-md-3">
            <div class="search-hotel">
                <h3 class="agileits-sear-head">Busque aqui</h3>
                <form>
                    <input type="search" id="filtro" placeholder="Nombre de producto" name="search" required>
                </form>
            </div>
            <div class="left-side">
                <h3 class="agileits-sear-head">Categorias</h3>
                <ul>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Vegetarian</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Non-Vegetarian</span>
                    </li>
                </ul>
            </div>
        </div>
        @if (ViewBag.User != null)
        {
            <input hidden id="userId" value="@ViewBag.User.Id" />
        }
        <div class="agileinfo-ads-display col-md-9 w3l-rightpro" id="ProducList">
        </div>
    </div>
</div>

<script src="~/EcommerceTemplate/js/jquery.simplePagination.js"></script>
<link href="~/EcommerceTemplate/css/simplePagination.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        getProductPanelList();
        productSearchFilter();
        ProductsActiveLink();
    });
</script>